@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --bg1: #ffa94d;
  --bg2: #ffe066;
  --white-opacity: #ffffff50;
  --fill-states: #f9f9f9;
  --fill-correct: #90ee90;
  --white: #ffffff;
  --black: #000000;
  --button-color: #ffd4a6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Merriweather", serif;
}

.main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, var(--bg1) 0%, var(--bg2) 100%);
  background: -moz-linear-gradient(180deg, var(--bg1) 0%, var(--bg2) 100%);
  background: -webkit-linear-gradient(180deg, var(--bg1) 0%, var(--bg2) 100%);
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  position: relative;
}

.main-h1 {
  margin-top: -5rem;
}

.text-h1 {
  text-transform: uppercase;
  font-size: 4.8rem;
}

.blur.active {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.popup {
  display: flex;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40rem;
  height: 40rem;
  box-shadow: 0 0.5rem 3rem rgb(0, 0, 0, 0.3);
  background-color: var(--white);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.popup-content {
  width: 100%;
}

.container {
  display: flex;
  margin-top: 2rem;
  width: 150rem;
  height: 70rem;
  padding: 5rem;
  background-color: var(--white-opacity);
  border-radius: 5rem;
  background-image: linear-gradient(180deg, #ffa94d93 0%, #ffe06693 100%),
    url("/img/wallpaper.jpg");
}

.states-shape {
  stroke-width: 0.3;
  fill: var(--fill-states);
}

.state-options {
  width: 100%;
}

.state-content {
  display: flex;
  flex-direction: column;
  background-color: var(--fill-states);
  margin: 0 5rem 3rem 5rem;
  border-radius: 2.5rem;
  height: 53rem;
}

.state-informations {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem 2rem;
}

.flag-size {
  border-top-right-radius: 2.5rem;
  border-top-left-radius: 2.5rem;
  width: 100%;
  height: 100%;
}

.text-center {
  display: flex;
  align-items: center;
}

.state-style {
  display: flex;
  font-size: 2rem;
  margin-bottom: 2rem;
  height: 4rem;
}

.state-svg-size {
  width: 3.2rem;
  height: 3.2rem;
}

.state-name {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  padding-left: 5rem;
}

.button:link,
.button:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  width: 16rem;
  height: 4rem;
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--fill-states);
  border-radius: 2rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--button-color);
}

.button-done {
  margin: auto;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.error-img {
  height: 15rem;
  width: 15rem;
}

.accuracy {
  font-size: 1.8rem;
}

.states-shape {
  cursor: pointer;
}

.states-shape.guessed {
  fill: var(--fill-correct);
}

.congratz {
  padding: 2rem 5rem 0rem 5rem;
  text-transform: uppercase;
  font-size: 2.8rem;
}

.congratz-content {
  padding: 1rem 5rem 1rem 5rem;
  font-size: 2rem;
}

.nature {
  width: 100%;
  height: 20rem;
  margin-bottom: 2rem;
}

.spinner {
  margin: 15rem auto;
  text-align: center;
}

.spinner img {
  height: 10rem;
  width: 10rem;
  fill: var(--bg1);
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content-positioning {
  display: flex;
  gap: 3rem;
}

.changing-value {
  text-align: center;
}

.accuracy-text {
  font-size: 2rem;
}
